/* Base CSS */

/* Header CSS */
header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header__img {
  flex-shrink: 0;
  width: 100px;
  height: auto;
}

.header__logo {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.header__navbar {
  display: flex;
  align-items: center;
}

.navbar__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar__item {
  margin: 0 15px;
}

.navbar__link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar__link:hover,
.navbar__link--active {
  color: #007bff;
}

.header__feature {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__admin {
  font-size: 14px;
  color: #555;
  cursor: pointer;
  border: 1px dashed #2738ce;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.header__admin:hover {
  box-shadow: 0 0 10px rgb(99, 32, 99);
}

.header__icon i {
  font-size: 20px;
  color: #555;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s;
}

.header__icon i:hover {
  color: #007bff;
}

.header__menu {
  display: none;
  cursor: pointer;
}

.hero .wrapper {
  border: 1px dashed #aeaeea;
}

.hero .hero__info {
  text-align: center;
}

.hero .hero__info div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero .hero__info div .speratorX {
  width: 50px;
  height: 1px;
  color: #000;
  background: green;
  display: block;
  border: 1px solid;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 22%;
  transform: translate(-50%, -50%);
}

.hero .hero__info div .sperator {
  width: 50px;
  height: 1px;
  color: #000;
  background: green;
  display: block;
  border: 1px solid;
  text-align: center;
  position: absolute;
  top: 30%;
  right: 10%;
  transform: translate(-50%, -50%);
}

.hero .hero__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.collection__item a {
  text-align: center;
  display: flex;
  width: 200px;
  height: auto;
  flex-direction: column;
}

.collection__img {
  width: 260px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
  overflow: hidden;
}

.collection__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.collection__img:hover img {
  transform: scale(1.1);
}

.collection__info p {
  text-align: left;
}

.collection__product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 0 10px;
}

.ticket {
  padding-bottom: 50px;
  padding-top: 50px;
}

.ticket .ticket-box .ticket__desc {
  margin-top: -10px;
}

.subscribe {
  padding-top: 50px;
  padding-bottom: 50px;
}

.subscribe .input {
  width: 50%;
}

.subscribe .form__btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.footer {
  padding-top: 50px;
}

.footer .footer__img {
  width: 150px;
  height: auto;
}

.footer .footer__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -15px;
}

.footer .row.footer__box {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.footer .footer__desc {
  font-size: 12px;
}

.footer__social {
  gap: 10px;
}

.footer__social a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(75 85 99);
}

.footer__info p {
  color: rgb(75 85 99);
}

.footer__social a i {
  color: #1829be;
}

.footer h6 {
  margin-bottom: 25px;
  color: #000;
  font-weight: 500;
}

.footer .copyright {
  border-top: 1px solid #ccc;
  padding: 6px 0;
  margin-bottom: -6px;
  gap: 5px;
}

.footer .copyright a {
  display: block;
  color: #1829be;
}

.card__img,
.card {
  overflow: hidden;
  transition: 0.3s linear;
}

.card__img img {
  transition: 0.3s linear;
  overflow: hidden;
  max-width: 100%;
}

.card:hover {
  box-shadow: 0 0 10px rgba(44, 59, 201, 0.1);
  transition: 0.3s linear;
  cursor: pointer;
}

.card .card__img:hover img {
  transform: scale(1.1);
}

.sign-up {
  display: none;
}

.sign-up.show {
  display: block;
  transition: 0.3s linear;
}

.sign-in.hide {
  display: none;
  transition: 0.3s linear;
}
